body{
  background-color:#981b1f;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
 width: auto;
 height: auto;
}
.app.container{
  background-color:#981b1f;
}