.container{
    background-color: #fbefaf;
    border-radius: 6%;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    width: 40%;
    height: 55vh;
    margin-bottom: 4%;
    margin-left: 5%;
    margin-right: 5%;
    outline: 1px solid black;
    transition: transform 0.3s ease;
}
.container:hover {
  transform: translateY(-10px);
  filter: grayscale(0%); 
}
.container img {
    border-radius: 6%;
    height: 100%;
    top: 10%;
    filter: grayscale(100%);  
    transition: filter 0.2s ease;
    width: 45%;
  }
  .container:hover img {
    filter: grayscale(0%); 
}
.containerTeamName{
  display: flex;
  flex-flow: column;
  justify-content: start;
  align-items: start;
  width: 53%;
}
.name {
display: flex;
flex-flow: row wrap;
font-size: 24px;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
width: 100%;
margin-left: 7%;
  }
  .name a {
    color: #333333;
}
.name a:hover {
    color: #CBC9CA; 
}
.name span {
    font-size: 30px; 
  }

.teams{
display: flex;
width: auto;
height: auto;
flex-direction: column;
margin-left: 11%;
}
.team{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  color: #333333;
}